.DS_Store
*.o
*.so
*.log
*.dSYM
*.d
*.zip
*.rar
*.tmproj
test_detail.xml
gmon.out
gmock-gtest.a
tests/tests
external/
data/
fixtures/federal
fixtures/pan*
fixtures/con*
superfastmatch
cachegrind.out*
!public/app/ux/data/
