.DS_Store
superfastmatch/fixtures/pan*
*.o
*.so
*.pyc
*.db
*.egg-info
*.log
superfastmatch.egg-info/*
.build
.env
.cache
previous/
gmock-gtest.a
tests/postline-unittest
*.d
external/
*.dSYM
data/
fixtures/

superfastmatch
