pre.wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: arial;
}

span.highlight{
  background-color: #F9A803;
}

.highlighted{
  background-color: #F9A803 !important;
}

.x-action-col-cell img { height: 16px; width: 16px; } 

.icon-go{
  background-image: url(/img/icons/page_go.png) !important;;
}

.icon-side{
  background-image: url(/img/icons/page_copy.png) !important;;
}