{% extends "base.html" %}

{% block content %}
{% regroup stages.object_list by bill as bills %}
<ol>
    {% for bill in bills %}
        <li> {{ bill.grouper.title }}</li>
        <ol>
        {% for stage in bill.list %}
            <li><a href="{{stage.get_absolute_url}}">{{ stage.get_stage_display }}</a></li>
        {% endfor %}
        </ol>
    {% endfor  %}
</ol>

<div class="pagination">
    <span class="step-links">
        {% if stages.has_previous %}
            <a href="?page={{ stages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ stages.number }} of {{ stages.paginator.num_pages }}.
        </span>

        {% if stages.has_next %}
            <a href="?page={{ stages.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}