{% extends "base.html" %}

{% block content %}
<h1><a href="{{stage.source}}">{{stage.bill.title}}</a></h2>

{{stage.clean|linebreaks}}

<ol>
{% for similar,percentage in stage.similar.items %}
    <li><a href="#{{ similar.id }}">{{ similar.bill.title }}</a> {{ percentage }}</li>
{% endfor %}
</ol>

{% for similar,fragments in stage.fragments.items %}
<h2><a id="{{similar.id}}"href="{{ similar.source }}">{{ similar.bill.title }}</a></h2>
   <ol>
   {% for fragment in fragments %}
    <li>{{fragment.text|linebreaks}}</li>
    {% endfor %}
   </ol>
{% endfor %}
{% endblock %}