/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config*
/depcomp
/superfastmatch-*.pc
/superfastmatch-*.tar.*
/superfastmatchconfig.h
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]

